{% extends "index.html.twig" %}
{% import "./macros/macros.html.twig" as macros %}
{% block titleText %}Homepage{% endblock %}


{% block appBody %}
    {# Hero section #}
    <section id="hero">
        <div class="hero-texts-wrapper">
             <div class="hero-texts">
                 <a class="chevron chevron-l btn" href="#"><i class="icon icon-chevron-l"></i></a>
                 <a class="chevron chevron-r btn" href="#"><i class="icon icon-chevron-r"></i></a>
                 <div class="hero-texts-header">
                     <h1 class="display-xl text-white text-weight-600">Pomůžeme vám <br/>s nemovitostmi</h1>
                     <p class="text-xl text-white text-weight-400">Pomáháme lidem bezpečně prodat i najít bydlení.</p>
                 </div>
                 <div class="hero-texts-links">
                    <a class="show-offer text-md btn">Prohlédnout nabídku</a>
                    <a class="sell-reality btn">Chci prodat nemovitost</a>
                 </div>
            </div>
        </div>
        <div class="hero-categories">
            <div class="container">
                <div class="hero-categories-list">
                    <div class="hero-category-item">
                        <i class="icon icon-building"></i>
                        <p class="text-xl">Byty</p>
                    </div>
                    <div class="hero-category-item">
                        <i class="icon icon-home-03"></i>
                        <p class="text-xl">Domy</p>
                    </div>
                    <div class="hero-category-item">
                        <i class="icon icon-home-01"></i>
                        <p class="text-xl">Pozemky</p>
                    </div>
                    <div class="hero-category-item">
                        <i class="icon icon-building-03"></i>
                        <p class="text-xl">Kanceláře</p>
                    </div>
                    <div class="hero-category-item">
                        <i class="icon icon-home-05"></i>
                        <p class="text-xl">Novostavby</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# We are stabilius section #}
    <section id="we-are-stabilius">
        <div class="container">
            <div class="was">
                <div class="was-profile">
                    <img src="{{ asset("build/images/petka-no-bg.png") }}" class="person" alt="Person image"/>
                    <div class="person-detail-wrapper">
                        <div class="detail-texts">
                            <p class="name text-md text-white">Petra Serbová</p>
                            <p class="position text-xs text-white">Realitní makléřka</p>
                        </div>
                    </div>
                </div>
                <div class="was-description">
                    <div class="was-description-frame">
                        <p class="title display-md">Jsme Stabilius Real</p>
                        <p class="description text-lg">Realitní kancelář, která staví na osobním přístupu a férovém jednání. Přestože naše značka vznikla teprve nedávno, stojí za ní dlouholeté zkušenosti v realitách. Jako realitní makléř jsem pomohla desítkám klientů najít domov nebo úspěšně prodat jejich nemovitost.
                            <br/><br/>Vím, že každý obchod je jedinečný – proto nabízím individuální řešení šité na míru.“ Náš přístup stojí na pečlivém naslouchání Vašim potřebám, přáním i obavám. Díky tomu dokážeme nalézt ta nejvhodnější řešení právě pro Vaši situaci. Naším cílem je, aby se každý klient cítil komfortně a odcházel naprosto spokojen s nadstandardní péčí naší kanceláře.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# Metrics section #}
    <section id="metrics">
        <div class="container">
            <div class="metrics-head">
                <p class="metrics-heading display-md">Naše úspěchy</p>
                <p class="metrics-supportive text-xl">Lorem ipsum dolor et samet</p>
            </div>
        </div>
        <div class="container">
            <div class="metrics-stats">
                <div class="metrics-item">
                    <p class="metrics-item-main display-xl">15+</p>
                    <p class="metrics-item-supportive text-lg">let zkušeností</p>
                </div>

                <div class="metrics-divider"></div>

                <div class="metrics-item">
                    <p class="metrics-item-main display-xl">400+</p>
                    <p class="metrics-item-supportive text-lg">prodaných nemovitostí</p>
                </div>

                <div class="metrics-divider"></div>

                <div class="metrics-item">
                    <p class="metrics-item-main display-xl">98%</p>
                    <p class="metrics-item-supportive text-lg">spokojených klientů</p>
                </div>
            </div>
        </div>
    </section>
    {# Latest offers section #}
    <section id="latest-offers">
        <div class="container">
            <div class="offers-body">
                <h2 class="offers-title display-md">Výběr z našich nejnovějších inzerátů</h2>
                <div class="tabs-wrapper">
                    <button class="tab-switcher active text-sm btn">Novinky</button>
                    <button class="tab-switcher text-sm btn">TOP nabídka</button>
                    <button class="tab-switcher text-sm btn">Slevy</button>
                    <button class="tab-switcher text-sm btn">Novostavby</button>
                </div>

                {{ macros.renderOfferList() }}

                <a class="show-more btn btn-custom-dark">Prohlédnout nabídky</a>
            </div>

        </div>
    </section>
    {# Blog section #}
    <section id="blog">
        <div class="container">
            <div class="blog-wrapper">
                <div class="blog-list-header">
                    <h2 class="blog-header-title display-md">Novinky z realitního trhu</h2>
                    <p class="blog-header-supportive text-xl">Lorem ipsum dolor et samet</p>
                </div>
                <div class="blog-items-list-wrapper">
                    <div class="blog-items-list">
                        <div class="blog-item">
                            <img src="{{ asset("build/images/blog-01.png") }}" alt="Blog image 01"/>
                            <div class="blog-item-description">
                                <div class="blog-item-heading">
                                    <p class="blog-item-heading-subhead text-sm">20. 5. 2025</p>
                                    <div class="blog-item-heading-texts">
                                        <div class="blog-item-heading-texts-title-wrapper">
                                            <p class="blog-item-heading-texts-title display-xs">Lorem ipsum dolor</p>
                                            <i class="icon icon-arrow"></i>
                                        </div>
                                        <p class="blog-item-heading-texts-description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <img src="{{ asset("build/images/blog-02.png") }}" alt="Blog image 02"/>
                            <div class="blog-item-description">
                                <div class="blog-item-heading">
                                    <p class="blog-item-heading-subhead text-sm">20. 5. 2025</p>
                                    <div class="blog-item-heading-texts">
                                        <div class="blog-item-heading-texts-title-wrapper">
                                            <p class="blog-item-heading-texts-title display-xs">Lorem ipsum dolor</p>
                                            <i class="icon icon-arrow"></i>
                                        </div>
                                        <p class="blog-item-heading-texts-description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item">
                            <img src="{{ asset("build/images/blog-03.png") }}" alt="Blog image 03"/>
                            <div class="blog-item-description">
                                <div class="blog-item-heading">
                                    <p class="blog-item-heading-subhead text-sm">20. 5. 2025</p>
                                    <div class="blog-item-heading-texts">
                                        <div class="blog-item-heading-texts-title-wrapper">
                                            <p class="blog-item-heading-texts-title display-xs">Lorem ipsum dolor</p>
                                            <i class="icon icon-arrow"></i>
                                        </div>
                                        <p class="blog-item-heading-texts-description">How do you create compelling presentations that wow your colleagues and impress your managers?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-actions">
                        <a class="show-more btn btn-custom-dark">Všechny aktuality</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
