{% extends "index.html.twig" %}
{% import "./macros/macros.html.twig" as macros %}
{% block titleText %}Nemovitosti{% endblock %}

{% block appBody %}
    <section id="real-hero">
        <div class="container position-relative">
            <div class="real-hero-vectors"></div>
            {{ macros.breadcrumb(breadcrumbs) }}
            <h2 class="display-lg text-white">Nemovitosti</h2>
        </div>
    </section>
    <!--class="d-none" -->
    <section id="real-filter">
        <div class="container">
            <div class="real-filter-wrapper">
                <div class="real-filter-categories">
                    <div class="cat-tab active" data-filter="all">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-home-smile"></i> <span>Vše</span>
                            </div>
                            <span>{{ catCountings.all }}</span>
                        </div>
                    </div>
                    <div class="cat-tab" data-filter="byty">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-building"></i> <span>Byty</span>
                            </div>
                            <span>{{ catCountings.byty }}</span>
                        </div>
                    </div>
                    <div class="cat-tab" data-filter="domy">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-home-03"></i> <span>Domy</span>
                            </div>
                            <span>{{ catCountings.domy }}</span>
                        </div>
                    </div>
                    <div class="cat-tab" data-filter="pozemky">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-home-01"></i> <span>Pozemky</span>
                            </div>
                            <span>{{ catCountings.pozemky }}</span>
                        </div>
                    </div>
                    <div class="cat-tab" data-filter="komercni">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-building-02"></i> <span>Komerční</span>
                            </div>
                            <span>{{ catCountings.komercni }}</span>
                        </div>
                    </div>
                    <div class="cat-tab" data-filter="ostatni">
                        <div class="cat-tab-inside">
                            <div class="cat-tab-text-icon">
                                <i class="icon icon-home-04"></i> <span>Ostatní</span>
                            </div>
                            <span>{{ catCountings.ostatni }}</span>
                        </div>
                    </div>
                </div>
                <div class="tabs-wrapper">
                    <button class="tab-switcher active text-sm btn" data-filter="vse">Vše</button>
                    <button class="tab-switcher text-sm btn" data-filter="rodinny_dum">Rodinný dům</button>
                    <button class="tab-switcher text-sm btn" data-filter="chata">Chata</button>
                    <button class="tab-switcher text-sm btn" data-filter="chalupa">Chalupa</button>
                </div>
                <div class="real-filter-subfilter">
                    <div class="subfilter-item-wrapper">
                        <div class="subfilter-item">
                            <label>Typ nabídky</label>
                            <select aria-label="">
                                <option>Vše</option>
                                <option>Prodej</option>
                                <option>Pronájem</option>
                            </select>
                        </div>
                    </div>
                    <div class="subfilter-item-wrapper">
                        <div class="subfilter-item">
                            <label>Výběr kraje</label>
                            <select aria-label="">
                                <option>Vše</option>
                            </select>
                        </div>
                    </div>
                    <div class="subfilter-item-wrapper">
                        <div class="subfilter-item">
                            <label>Okres</label>
                            <select aria-label="">
                                <option>Vše</option>
                            </select>
                        </div>
                    </div>
                    <div class="subfilter-item-wrapper">
                        <div class="subfilter-item">
                            <label>Lokalita</label>
                            <select aria-label="">
                                <option>Vše</option>
                            </select>
                        </div>
                    </div>
                    <div class="subfilter-item-wrapper">
                        <div class="subfilter-item">
                            <label>Cena</label>
                            <select aria-label="">
                                <option>Vše</option>
                            </select>
                        </div>
                    </div>

                </div>
                <button class="js-filter-realities btn btn-custom-dark">
                    Vyhledat {{ properties|length }} nemovitostí
                </button>
            </div>
        </div>
    </section>
    <section id="real-results">
        <div class="container">
            <div class="real-results-wrapper">
                <div class="real-results-upper-controls">
                    <span class="text-md">Nalezeno: <br class="show-mobile"> {{ catCountings.all }} nemovitostí</span>
                    <div class="results-upper-controls-wrapper">
                        <label id="real-sorting" class="text-md">Řadit podle:</label>
                        <select aria-label="real-sorting">
                            <option data-sort-by="" data-sort-direction="">Neřadit</option>
                            <option data-sort-by="price" data-sort-direction="asc">Cena vzestupně</option>
                            <option data-sort-by="price" data-sort-direction="desc">Cena sestupně</option>
                            <option data-sort-by="location" data-sort-direction="asc">Vzdálenost vzestupně</option>
                            <option data-sort-by="location" data-sort-direction="desc">Vzdálenost sestupně</option>
                        </select>
                    </div>
                </div>
                {{ macros.renderOfferList(properties) }}
                <div class="real-results-pagination-wrapper">
                    <div class="pagination-button-wrap">
                        <button class="btn" disabled><i class="icon icon-arrow-l"></i> <span class="show-desktop">Předchozí</span></button>
                    </div>
                    <div class="pagination-numbers-wrap">
                        <a class="btn disabled"><div class="pagination-content">1</div></a>
                    </div>
{#                    <div class="pagination-numbers-wrap">#}
{#                        <a class="btn active"><div class="pagination-content">1</div></a>#}
{#                        <a class="btn"><div class="pagination-content">2</div></a>#}
{#                        <a class="btn"><div class="pagination-content">3</div></a>#}
{#                        <a class="btn disabled"><div class="pagination-content">...</div></a>#}
{#                        <a class="btn"><div class="pagination-content">8</div></a>#}
{#                        <a class="btn"><div class="pagination-content">7</div></a>#}
{#                        <a class="btn"><div class="pagination-content">9</div></a>#}
{#                    </div>#}
                    <div class="pagination-mobile-numbers-wrap">
                        <span class="text-sm">Strana <b>1</b> z <b>10</b> </span>
                    </div>
                    <div class="pagination-button-wrap right">
                        <button class="btn" disabled><span class="show-desktop">Následující</span> <i class="icon icon-arrow-r"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
