{# @var reality App\Entity\Reality #}

{% extends "index.html.twig" %}
{% import "./macros/macros.html.twig" as macros %}
{% block titleText %}Nemovitosti{% endblock %}

{% block appBody %}
    <section id="reality-gallery">
        <a href="{{ asset('build/images/gallery/detail-barak-1.jpg') }}" class="image-link">
            <img src="{{ asset('build/images/gallery/detail-barak-1.jpg') }}" alt="">
        </a>
        <div class="two-images">
            <a href="{{ asset('build/images/gallery/detail-barak-2.jpg') }}" class="image-link">
                <img src="{{ asset('build/images/gallery/detail-barak-2.jpg') }}" alt="">
            </a>
            <a href="{{ asset('build/images/gallery/detail-barak-3.jpg') }}" class="image-link">
                <img src="{{ asset('build/images/gallery/detail-barak-3.jpg') }}" alt="">
            </a>
        </div>
        <div class="rest-hidden">
            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">
                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">
            </a>
            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">
                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">
            </a>
            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">
                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">
            </a>
            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">
                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">
            </a>
        </div>
    </section>
    <section id="reality-body">
        <div class="container position-relative">
            <div class="reality-body-info-wrapper">
                {{ macros.breadcrumb(breadcrumbs) }}
                <div class="reality-body-title-wrapper">
                    <div class="reality-body-title-price">
                        <h2 class="display-lg">Prodej rodinného domu</h2>
                        <div class="reality-location-text">
                            <i class="icon icon-location-pin"></i> <span class="text-xl">Žabovřesky, Brno</span>
                        </div>
                    </div>
                    <span class="display-md">8 990 000 Kč</span>
                </div>
                <div class="reality-body-description">
                    <h3 class="display-sm">Základní informace</h3>
                    <p class="text-md">Lorem ipsum dolor sit amet consectetur. Lectus volutpat nunc vitae sapien auctor. Nunc quam adipiscing ultricies imperdiet nisi tortor sem in morbi. Curabitur facilisis vel eu semper mauris eleifend bibendum. Consectetur nisl pretium magna faucibus nec duis risus. A tortor aliquet libero mollis facilisi. Libero eros faucibus aliquam commodo curabitur egestas tellus commodo at. At sed consectetur pretium risus amet sapien purus. Dignissim at sed amet blandit tellus. Dictum eleifend egestas diam tortor eros faucibus tortor nunc eget. Ornare velit volutpat diam nisi eget praesent nibh tempus. Metus ac nisl enim netus augue augue.
                        Lorem diam nunc sagittis amet. Amet duis volutpat magna lectus dui. Est nunc odio sed id sed integer enim et. Ut duis nunc gravida mattis nam dui integer. Aenean eu nisl eu volutpat faucibus sed duis libero. Porttitor morbi eget tincidunt tellus egestas. Nunc malesuada at diam bibendum nulla. Nullam aliquam aliquam posuere iaculis porta.</p>
                </div>
                <table class="reality-info-table table-responsive">
                    <tr>
                        <td>
                            <span class="text-sm">ID nabídky</span>
                        </td>
                        <td>
                            <span class="text-sm">BR1234</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Poznámka k ceně</span>
                        </td>
                        <td>
                            <span class="text-sm">včetně provize, včetně DPH</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Příslušenství</span>
                        </td>
                        <td>
                            <div class="badges">
                                <div class="badge"><span class="text-xs">Výtah</span></div>
                                <div class="badge"><span class="text-xs">Sklep</span></div>
                                <div class="badge"><span class="text-xs">Částečně vybaveno</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Stavba</span>
                        </td>
                        <td>
                            <span class="text-sm">Cihlová, V super stavu</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Infrastruktura</span>
                        </td>
                        <td>
                            <span class="text-sm">230V, plyn, kanalizace, voda, elektřina</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Plocha</span>
                        </td>
                        <td>
                            <span class="text-sm">Celkem 450 m2</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Vlastnictví</span>
                        </td>
                        <td>
                            <span class="text-sm">Osobní</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="text-sm">Ostatní</span>
                        </td>
                        <td>
                            <span class="text-sm">K nastěhování ihned</span>
                        </td>
                    </tr>
                </table>
                <div class="reality-location-map-wrapper">
                    <div class="reality-location-map-title-wrapper">
                        <h3 class="display-sm">Lokalita</h3>
                        <span class="text-md">Lokalita je orientační. Nemovitost se nachází ve vyznačené oblasti na mapě.</span>
                    </div>
                    {{ ux_map(map, { style: 'height: 384px', id: 'reality-map', class: 'reality-map-render' }) }}
                </div>
                <div class="reality-contact-seller-wrapper">
                    <h3 class="display-sm">Napsat prodejci</h3>
                    <div class="seller-info-wrapper">
                        <div class="seller-avatar-text-wrapper">
                            <div class="seller-avatar-wrapper">
                                <img src="{{ asset('build/images/petka-no-bg.png') }}" alt="Petra Serbová" />
                            </div>
                            <div class="seller-info-texts">
                                <span class="seller-name text-xl">Petra Serbová</span>
                                <span class="seller-position text-sm">Realitní makléř</span>
                            </div>
                        </div>
                        <a href="tel:+420777555666" class="btn">
                            <i class="icon icon-phone"></i>
                            <span class="text-sm">Zavolat prodejci</span>
                        </a>
                    </div>
                    <form class="seller-contact-form">
                        <div class="seller-contact-form-row">
                            <div class="input-area">
                                <div class="label-wrapper">
                                    <label class="text-sm" id="name">Jméno</label>
                                </div>
                                <input type="text" aria-label="name" placeholder="Petr"/>
                            </div>
                            <div class="input-area">
                                <div class="label-wrapper">
                                    <label class="text-sm" id="surname">Příjmení</label>
                                </div>
                                <input type="text" aria-label="surname" placeholder="Novák"/>
                            </div>
                        </div>
                        <div class="seller-contact-form-row">
                            <div class="input-area">
                                <div class="label-wrapper">
                                    <label class="text-sm" id="email">Email</label>
                                </div>
                                <input type="text" aria-label="email" placeholder="novak@email.cz"/>
                            </div>
                            <div class="input-area">
                                <div class="label-wrapper">
                                    <label class="text-sm" id="phone">Telefon</label>
                                </div>
                                <input type="text" aria-label="phone" placeholder="+420 777 123 456"/>
                            </div>
                        </div>
                        <div class="input-textarea">
                            <div class="label-wrapper">
                                <label class="text-sm" id="message-text-label">Telefon</label>
                            </div>
                            <textarea name="message-text" placeholder="Napište zprávu" aria-label="message-text-label"></textarea>
                        </div>

                        <div class="contact-seller-buttons-wrapper">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" aria-label="agreed-lalbel"/>
                                <label id="agreed-lalbel" class="text-sm">Potvrzuji, že jsem se seznámil/a se zásadami o ochraně osobních údajů</label>
                            </div>
                            <button type="submit" class="btn btn-custom-dark">Odeslat zprávu</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="reality-body-seller-info-wrapper">
                <div class="contact-wrapper">
                    <div class="contact-title-wrapper">
                        <h3 class="display-sm">Máte zájem o tuto nemovitost?</h3>
                        <span class="text-sm">Ozvěte se našemu makléři.</span>
                    </div>
                    <div class="seller-avatar-text-wrapper">
                        <div class="seller-avatar-wrapper">
                            <img src="{{ asset('build/images/petka-no-bg.png') }}" alt="Petra Serbová" />
                        </div>
                        <div class="seller-info-texts">
                            <span class="seller-name text-xl">Petra Serbová</span>
                            <span class="seller-position text-sm">Realitní makléř</span>
                        </div>
                    </div>
                    <div class="seller-contacts-wrapper">
                        <a class="contact-row text-md" href="tel:+420777123456">
                            <i class="icon icon-phone"></i>
                            +420 777 123 456
                        </a>
                        <a class="contact-row text-md" href="mailto:serbova@stabilius-real.cz">
                            <i class="icon icon-mail"></i>
                            serbova@stabilius-real.cz
                        </a>
                    </div>
                    <button class="btn btn-custom-dark">Kontaktovat makléře</button>
                </div>

                <div class="contact-wrapper">
                    <div class="contact-title-wrapper">
                        <h3 class="display-sm">Nechte mi kontakt a já se vám ozvu</h3>
                    </div>
                    <form class="contact-form-small" name="contact-form-small">
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_name">Jméno</label>
                            </div>
                            <input name="name" aria-label="contact_small_name" placeholder="Petr Novák"/>
                        </div>
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_email">Email</label>
                            </div>
                            <input name="email" aria-label="contact_small_email" placeholder="petrnovak@email.cz"/>
                        </div>
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_phone">Telefon</label>
                            </div>
                            <input name="name" aria-label="contact_small_phone" placeholder="+420 777 123 456"/>
                        </div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" aria-label="agreed-lalbel" />
                            <label id="agreed-lalbel" class="text-sm">Potvrzuji, že jsem se seznámil/a se zásadami o ochraně osobních údajů</label>
                        </div>
                        <button class="btn btn-custom-dark" type="submit">
                            Odeslat poptávku
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="reality-similiar-offers">
        <div class="container">
            <div class="reality-similiar-offers-wrapper">
                <h2 class="display-md">Podobné nabídky</h2>
                {{ macros.renderOfferList(null,3) }}
            </div>
        </div>
    </section>
{% endblock %}
