{# @var reality App\DTO\PropertyDetailDTO #}

{% extends "index.html.twig" %}
{% import "./macros/macros.html.twig" as macros %}
{% block titleText %}{{ reality.title }}{% endblock %}

{% block appBody %}
    <section id="reality-gallery">
        <a href="{{ reality.columns["photo"] }}" class="image-link">
            <img src="{{ reality.columns["photo"] }}" alt="">
        </a>
        <div class="two-images">
            <a href="{{ reality.images[0] }}" class="image-link show-desktop">
                <img src="{{ reality.images[0] }}" alt="">
            </a>
            <a href="{{ reality.images[1] }}" class="image-link show-desktop">
                <img src="{{ reality.images[1] }}" alt="">
            </a>
        </div>
        <div class="rest-hidden">
            {% for image in reality.images  %}
                {% if loop.index > 2%}
                    <a href="{{ image }}" class="image-link">
                        <img src="{{ image }}" alt="">
                    </a>
                {% endif %}
            {% endfor %}
{#            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">#}
{#                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">#}
{#            </a>#}
{#            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">#}
{#                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">#}
{#            </a>#}
{#            <a href="{{ asset('build/images/barak-brno.png') }}" class="image-link">#}
{#                <img src="{{ asset('build/images/barak-brno.png') }}" alt="">#}
            </a>
        </div>
    </section>
    <section id="reality-body">
        <div class="container position-relative">
            <div class="reality-body-info-wrapper">
                {{ macros.breadcrumb(breadcrumbs) }}
                <div class="reality-body-title-wrapper">
                    <div class="reality-body-title-price">
                        <h2 class="display-lg">{{ reality.title }}</h2>
                        <div class="reality-location-text">
                            <i class="icon icon-location-pin"></i> <span class="text-xl">{{ reality.city }}, {{ reality.district }}</span>
                        </div>
                    </div>
                    <span class="display-md">{{ reality.price }} {{ reality.currency }}</span>
                </div>
                <div class="reality-body-description">
                    <h3 class="display-sm">Základní informace</h3>
                    <p class="text-md">{{ reality.description }}</p>
                </div>
                {% if reality.columns['typ_nemovitosti'] == "Pozemky" %}
                    <table class="reality-info-table table-responsive">
                        <tr>
                            <td>
                                <span class="text-sm">ID nabídky</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.id }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Poznámka k ceně</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['cena_poznamka'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Doprava</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['doprava'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_pozemek'] }} m2</span>
                            </td>
                        </tr>

                    </table>
                {% elseif reality.columns['typ_nemovitosti'] == "Domy" %}
                    <table class="reality-info-table table-responsive">
                        <tr>
                            <td>
                                <span class="text-sm">ID nabídky</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.id }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Poznámka k ceně</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['cena_poznamka'] }}</span>
                            </td>
                        </tr>
{#                        <tr>#}
{#                            <td>#}
{#                                <span class="text-sm">Příslušenství</span>#}
{#                            </td>#}
{#                            <td>#}
{#                                <div class="badges">#}
{#                                    <div class="badge"><span class="text-xs">Výtah</span></div>#}
{#                                    <div class="badge"><span class="text-xs">Sklep</span></div>#}
{#                                    <div class="badge"><span class="text-xs">Částečně vybaveno</span></div>#}
{#                                </div>#}
{#                            </td>#}
{#                        </tr>#}
                        <tr>
                            <td>
                                <span class="text-sm">Stavba</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['konstrukce_budovy'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Infrastruktura</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['site'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha užitná</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_uzitna'] }} m2</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha podlahová</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_podlahova'] }} m2</span>
                            </td>
                        </tr>

{#                        <tr>#}
{#                            <td>#}
{#                                <span class="text-sm">Ostatní</span>#}
{#                            </td>#}
{#                            <td>#}
{#                                <span class="text-sm">{{ reality.columns['ostatni'] }}</span>#}
{#                            </td>#}
{#                        </tr>#}
                    </table>
                {% elseif reality.columns['typ_nemovitosti'] == "Byty" %}
                    <table class="reality-info-table table-responsive">
                        <tr>
                            <td>
                                <span class="text-sm">ID nabídky</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.id }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Poznámka k ceně</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['cena_poznamka'] }}</span>
                            </td>
                        </tr>
                        {#                        <tr>#}
                        {#                            <td>#}
                        {#                                <span class="text-sm">Příslušenství</span>#}
                        {#                            </td>#}
                        {#                            <td>#}
                        {#                                <div class="badges">#}
                        {#                                    <div class="badge"><span class="text-xs">Výtah</span></div>#}
                        {#                                    <div class="badge"><span class="text-xs">Sklep</span></div>#}
                        {#                                    <div class="badge"><span class="text-xs">Částečně vybaveno</span></div>#}
                        {#                                </div>#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        <tr>
                            <td>
                                <span class="text-sm">Stavba</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['konstrukce_budovy'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Infrastruktura</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['site'] }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha užitná</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_uzitna'] }} m2</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha podlahová</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_podlahova'] }} m2</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Plocha sklep</span>
                            </td>
                            <td>
                                <span class="text-sm">Celkem {{ reality.columns['plocha_sklep'] }} m2</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-sm">Vlastnictví</span>
                            </td>
                            <td>
                                <span class="text-sm">{{ reality.columns['vlastnictvi'] }}</span>
                            </td>
                        </tr>
                        {#                        <tr>#}
                        {#                            <td>#}
                        {#                                <span class="text-sm">Ostatní</span>#}
                        {#                            </td>#}
                        {#                            <td>#}
                        {#                                <span class="text-sm">{{ reality.columns['ostatni'] }}</span>#}
                        {#                            </td>#}
                        {#                        </tr>#}
                    </table>
                {% endif %}
                <div class="reality-location-map-wrapper">
                    <div class="reality-location-map-title-wrapper">
                        <h3 class="display-sm">Lokalita</h3>
                        <span class="text-md">Lokalita je orientační. Nemovitost se nachází ve vyznačené oblasti na mapě.</span>
                    </div>

                    <div id="reality-map-render" data-api-key="{{ google_maps_api_key }}" class="reality-map-render">
                        <input type="hidden" id="map-render-lat" value="{{ reality.gpsLat }}" />
                        <input type="hidden" id="map-render-lng" value="{{ reality.gpsLng }}" />
                    </div>
                </div>
                <div class="reality-contact-seller-wrapper">
                    <h3 class="display-sm">Napsat prodejci</h3>
                    <div class="seller-info-wrapper">
                        <div class="seller-avatar-text-wrapper">
                            <div class="seller-avatar-wrapper">
                                <img src="{{ asset('build/images/petka-no-bg.png') }}" alt="Petra Serbová" />
                            </div>
                            <div class="seller-info-texts">
                                <span class="seller-name text-xl">Petra Serbová</span>
                                <span class="seller-position text-sm">Realitní makléř</span>
                            </div>
                        </div>
                        <a href="tel:+420777555666" class="btn">
                            <i class="icon icon-phone"></i>
                            <span class="text-sm">Zavolat prodejci</span>
                        </a>
                    </div>
                    {{ macros.renderContactForm() }}
{#                    <form class="seller-contact-form">#}
{#                        <div class="seller-contact-form-row">#}
{#                            <div class="input-area">#}
{#                                <div class="label-wrapper">#}
{#                                    <label class="text-sm" id="name">Jméno</label>#}
{#                                </div>#}
{#                                <input type="text" aria-label="name" placeholder="Petr"/>#}
{#                            </div>#}
{#                            <div class="input-area">#}
{#                                <div class="label-wrapper">#}
{#                                    <label class="text-sm" id="surname">Příjmení</label>#}
{#                                </div>#}
{#                                <input type="text" aria-label="surname" placeholder="Novák"/>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="seller-contact-form-row">#}
{#                            <div class="input-area">#}
{#                                <div class="label-wrapper">#}
{#                                    <label class="text-sm" id="email">Email</label>#}
{#                                </div>#}
{#                                <input type="text" aria-label="email" placeholder="novak@email.cz"/>#}
{#                            </div>#}
{#                            <div class="input-area">#}
{#                                <div class="label-wrapper">#}
{#                                    <label class="text-sm" id="phone">Telefon</label>#}
{#                                </div>#}
{#                                <input type="text" aria-label="phone" placeholder="+420 777 123 456"/>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="input-textarea">#}
{#                            <div class="label-wrapper">#}
{#                                <label class="text-sm" id="message-text-label">Telefon</label>#}
{#                            </div>#}
{#                            <textarea name="message-text" placeholder="Napište zprávu" aria-label="message-text-label"></textarea>#}
{#                        </div>#}

{#                        <div class="contact-seller-buttons-wrapper">#}
{#                            <div class="checkbox-wrapper">#}
{#                                <input type="checkbox" aria-label="agreed-lalbel"/>#}
{#                                <label id="agreed-lalbel" class="text-sm">Potvrzuji, že jsem se seznámil/a se zásadami o ochraně osobních údajů</label>#}
{#                            </div>#}
{#                            <button type="submit" class="btn btn-custom-dark">Odeslat zprávu</button>#}
{#                        </div>#}
{#                    </form>#}
                </div>
            </div>
            <div class="reality-body-seller-info-wrapper">
                <div class="contact-wrapper">
                    <div class="contact-title-wrapper">
                        <h3 class="display-sm">Máte zájem o tuto nemovitost?</h3>
                        <span class="text-sm">Ozvěte se našemu makléři.</span>
                    </div>
                    <div class="seller-avatar-text-wrapper">
                        <div class="seller-avatar-wrapper">
                            <img src="{{ asset('build/images/petka-no-bg.png') }}" alt="Petra Serbová" />
                        </div>
                        <div class="seller-info-texts">
                            <span class="seller-name text-xl">Petra Serbová</span>
                            <span class="seller-position text-sm">Realitní makléř</span>
                        </div>
                    </div>
                    <div class="seller-contacts-wrapper">
                        <a class="contact-row text-md" href="tel:+420777123456">
                            <i class="icon icon-phone"></i>
                            +420 777 123 456
                        </a>
                        <a class="contact-row text-md" href="mailto:serbova@stabilius-real.cz">
                            <i class="icon icon-mail"></i>
                            serbova@stabilius-real.cz
                        </a>
                    </div>
                    <button class="btn btn-custom-dark">Kontaktovat makléře</button>
                </div>

                <div class="contact-wrapper">
                    <div class="contact-title-wrapper">
                        <h3 class="display-sm">Nechte mi kontakt a já se vám ozvu</h3>
                    </div>
                    <form class="contact-form-small" name="contact-form-small">
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_name">Jméno</label>
                            </div>
                            <input name="name" aria-label="contact_small_name" placeholder="Petr Novák"/>
                        </div>
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_email">Email</label>
                            </div>
                            <input name="email" aria-label="contact_small_email" placeholder="petrnovak@email.cz"/>
                        </div>
                        <div class="input-row">
                            <div class="label-wrapper">
                                <label id="contact_small_phone">Telefon</label>
                            </div>
                            <input name="name" aria-label="contact_small_phone" placeholder="+420 777 123 456"/>
                        </div>
                        <div class="checkbox-wrapper">
                            <input type="checkbox" aria-label="agreed-lalbel" />
                            <label id="agreed-lalbel" class="text-sm">Potvrzuji, že jsem se seznámil/a se zásadami o ochraně osobních údajů</label>
                        </div>
                        <button class="btn btn-custom-dark" type="submit">
                            Odeslat poptávku
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="reality-similiar-offers">
        <div class="container">
            <div class="reality-similiar-offers-wrapper">
                <h2 class="display-md">Podobné nabídky</h2>
                {{ macros.renderOfferList(null,3) }}
            </div>
        </div>
    </section>
{% endblock %}
