<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% block titleText %}{% endblock %} | Stabilius Reality s.r.o.{% endblock %}</title>
        <link rel="icon" href="{{ asset("build/images/icons/favicons/favicon.ico") }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('styles') }}
            {{ ux_controller_link_tags() }}
{#            {{ importmap() }}#}
        {% endblock %}

        {% block javascripts %}
{#            {% block importmap %}{{ importmap('app') }}{% endblock %}#}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('viewbox') }}

        {% endblock %}

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
