<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-main">
                <div class="footer-logo-adress">
                    <img src="{{ asset("build/images/logo-white.png") }}" alt="Logo white" />
                    <div class="footer-adress">
                        <p>tř. Svornosti 136/7<br/>
                            779 00 Olomouc</p>
                        <p>IČ: 23943084</p>
                    </div>
                    <div class="footer-contacts">
                        <a href="tel:+420777233862" class="footer-contact-item text-md"><i class="icon icon-phone"></i> +420 777 233 862</a>
                        <a href="mailto:info@stabilius-real.cz" class="footer-contact-item text-md"><i class="icon icon-mail"></i> info@stabilius-real.cz</a>
                    </div>
                </div>
                <div class="footer-menu-links">
                    <p class="footer-main-heading text-sm">Menu</p>
                    <div class="footer-links-list">
                        <a href="{{ path('front_about_us') }}" >O nás</a>
                        <a href="{{ path('front_realities') }}" >Nemovitosti <div class="link-batch">TOP</div></a>
{#                        <a href="#" >Služby</a>#}
                        <a href="{{ path('front_contacts') }}" >Kontakt</a>
                    </div>
                </div>
                <div class="footer-categories">
                    <p class="footer-main-heading text-sm">Nemovitosti</p>
                    <div class="footer-links-list">
                        <a href="{{ path('front_realities_filtered', {
                            search: null,
                            mainCategory: 'byty',
                            subCategory: null,
                            sortBy: null,
                            sortDirection: null,
                            limit: null
                        }) }}" >Byty</a>
                        <a href="{{ path('front_realities_filtered', {
                            search: null,
                            mainCategory: 'domy',
                            subCategory: null,
                            sortBy: null,
                            sortDirection: null,
                            limit: null
                        }) }}" >Domy</a>
                        <a href="{{ path('front_realities_filtered', {
                            search: null,
                            mainCategory: 'pozemky',
                            subCategory: null,
                            sortBy: null,
                            sortDirection: null,
                            limit: null
                        }) }}" >Pozemky</a>
                        <a href="{{ path('front_realities_filtered', {
                            search: null,
                            mainCategory: 'komercni',
                            subCategory: null,
                            sortBy: null,
                            sortDirection: null,
                            limit: null
                        }) }}" >Komerční</a>
                        <a href="{{ path('front_realities_filtered', {
                            search: null,
                            mainCategory: 'ostatni',
                            subCategory: null,
                            sortBy: null,
                            sortDirection: null,
                            limit: null
                        }) }}" >Ostatní</a>
                    </div>
                </div>
                <div class="footer-socials">
                    <p class="footer-main-heading text-sm">Sledujte nás</p>
                    <div class="footer-social-links">
                        <a href=""><i class="icon icon-facebook"></i></a>
                        <a href=""><i class="icon icon-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-supportive">
                <p class="footer-supportive-text text-md">© 2025 Stabilius Real. Všechna práva vyhrazena.</p>
                <div class="footer-supportive-links">
                    <a href="#" class="text-md">GDPR</a>
                    <a href="#" class="text-md">Obchodní podmínky</a>
                </div>
            </div>
        </div>
    </div>
</footer>
