{% import "/macros/macros.html.twig" as macros %}


<section class="header">
    <div class="header-contact-bg show-desktop">
        {{ macros.renderContactMenuItems() }}
    </div>
    <div class="header-navigation-bg">
        <div class="container">
            <div class="header-navigation">
                <a href="{{ path('front_homepage') }}"><img src="{{ asset("./build/images/stabilius-logo.png") }}" class="header-logo" alt="Logo"/></a>
                <nav class="navbar navbar-expand-lg">
                    <div class="menu-item nav-search-click show-mobile">
                        <span class="nav-link nav-search-butt" href="#"><i id="nav-search-butt-icon" class="icon icon-search"></i></span>
                    </div>
                    <div class="menu-item navigation-toggler show-mobile">
                        <span class="nav-link" href="#"><i id="navbar-toggler-icon" class="icon icon-menu-mobile"></i></span>
                    </div>

                    <div class="show-desktop" id="navbar">
                        {{ macros.renderNavigationItems() }}
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="desktop-search-bar">
        <div class="search-wrapper">
            <input name="search-reality" id="search-reality" class="search-reality-top-d text-md" placeholder="Vyhledat nemovitost" alt="Search reality" />
            <button class="btn search-reality-butt search-js text-sm">
                <i class="icon icon-search"></i>
                Vyhledat
            </button>
        </div>
    </div>
    <div class="show-tablet show-mobile mobile-nav-bar">
        {{ macros.renderNavigationItems() }}
        <div class="header-contact-bg">
            {{ macros.renderContactMenuItems() }}
        </div>
    </div>
</section>
