<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Message{% endblock %}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('build/styles.css')) }}">
</head>
<body>
{% block body %}
    <p class="text-md">Nová zpráva od {{ message.firstname }} {{ message.lastname }},</p>
    <br/>
    <br/>
    <p>{{ message.message }}</p>
    <p>
        Email: {{ message.email }} <br/>
        Telefon: {{ message.phone }}
    </p>

{% endblock %}
<script src="{{ absolute_url(asset('build/app.js')) }}"></script>
</body>
</html>
